@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.head-nav{
    background-color: #f55353;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    width: 30%;
}
.car{
    width: 30%;
    font-size: 30px;
}