@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.head-nav{
    background-color: #f55353;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    width: 30%;
    padding-left: 40px;
}
.search{
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: center;
}
.search input{
    width: 400px;
    border: none;
    font-size: 1em;
    border-radius: 20px;
    padding-left: 15px;
}
.right_nav{
    width: 30%;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right_nav .car{
    color: #143f6b;
    margin-top: 10px;
}
.right_nav .menuser{
    background-color: #f6f54d;
    margin: 3px;
    padding: 3px 9px 0;
    border-radius: 50px;
    color: #143f6b;
}
.right_nav.active{
    background-color: #f55353;
    height: 50vh;
    border-radius: 0  0 0px 20px;
    transition: .5s;
}